In [1]:
print()

In [7]:
print("bruce campbell")

bruce campbell

raw output are only used for developer's understanding

In [4]:
"welcome to kingdom"

'welcome to kingdom'

In [6]:
230+457-8

679

In [9]:
print('this is an apple', 'it is a fruit' , 'i dont like apples')

this is an apple it is a fruit i dont like apples

In [11]:
print('1,2,3,4,5,2.3,5.4')

1,2,3,4,5,2.3,5.4

In [12]:
print('this is python data science')
print('we are going to earn to do code')
print('and learn the secrets of python')
print('thats it')

this is python data science
we are going to earn to do code
and learn the secrets of python
thats it

In [13]:
print('this is python data science \n we are going to earn to do code\n and learn the secrets of python \n thats it ')

this is python data science
 we are going to earn to do code
 and learn the secrets of python
 thats it

using ''' we can write n number of lines ,python understoods that the  text in each line is displayed  in different line

In [15]:
print('''
this is python data science 
 we are going to earn to do code
 and learn the secrets of python 
 thats it 
''')

this is python data science
 we are going to earn to do code
 and learn the secrets of python
 thats it

In [16]:
print(1,2,3,4,5,2.5,6.3, sep='/')

1/2/3/4/5/2.5/6.3

In [18]:
print(1,2,3,4,5,2.5,6.3, sep='游때') #for emoji press window button + .

1游때2游때3游때4游때5游때2.5游때6.3

In [20]:
print('this is python data science' , end=' ')
print('we are going to earn to do code')
print('and learn the secrets of python')
print('thats it')

this is python data science we are going to earn to do code
and learn the secrets of python
thats it

In [23]:
age=18
name='bob'
color2='voilet'
is_sleeping =False

In [24]:
name='nobita'

In [25]:
color2 = 12

*datatype  can be changed by changing the value of a variable*

In [1]:
x=1
y=3579
z=-9857412

In [2]:
y=1.0

In [3]:
z=-35.59

In [ ]:
z=87.7e100

In [4]:
x=41

In [16]:
color2='Red'
is_sleeping=False
age =54

#del is a keyword to delete variable from memeory... we can delete multiple variable together

In [17]:
del age,color2

In [12]:
name ="bruce wayne 01"
color = 'yellow'
Institute = 'digipodium'

In [15]:
is_coding = True #always write true and false with capital T & F as they r keywords
is_fun= True
are_u_bored =False

In [19]:
x=None # x variable with nothing none with always begin with caps N

- *lists are mutable 
they are represented using []*

In [21]:
#list... 
a = [5,10,15,20,25,30,35,40]
vals = [1,2.2 ,'python']
colors = ['red','green',"yelow"]

- *tuples are immutable... used internally by python ....represented by ()*

In [22]:
a = (5,10,15,20,25,30,35,40)
vals = (1,2.2 ,'python')
colors = ('red','green',"yelow")

- *sets are not ordered...have unique values..represented by {}......we can perform operations like union, intersect *

In [23]:
a = {5,10,15,20,25,30,35,40}
vals = {1,2.2 ,'python'}
colors = {'red','green',"yelow"}

- *dictionary - ordered collection of key-value pairs(key:value)*

In [25]:
car_info = {"brand": "ford",
"model":"Mustang",
"year": "1964"}

## input in python

In [27]:
name = input("what is your name?")
city = input("in which city do you reside in?")
print("so according to you")
print('your are', name)
print('and you live in',city)

so according to you
your are shayesta
and you live in lucknow