In [1]:
print()

In [7]:
print("bruce campbell")

bruce campbell

raw output are only used for developer's understanding

In [4]:
"welcome to kingdom"

'welcome to kingdom'

In [6]:
230+457-8

679

In [9]:
print('this is an apple', 'it is a fruit' , 'i dont like apples')

this is an apple it is a fruit i dont like apples

In [11]:
print('1,2,3,4,5,2.3,5.4')

1,2,3,4,5,2.3,5.4

In [12]:
print('this is python data science')
print('we are going to earn to do code')
print('and learn the secrets of python')
print('thats it')

this is python data science
we are going to earn to do code
and learn the secrets of python
thats it

In [13]:
print('this is python data science \n we are going to earn to do code\n and learn the secrets of python \n thats it ')

this is python data science
 we are going to earn to do code
 and learn the secrets of python
 thats it

using ''' we can write n number of lines ,python understoods that the  text in each line is displayed  in different line

In [15]:
print('''
this is python data science 
 we are going to earn to do code
 and learn the secrets of python 
 thats it 
''')

this is python data science
 we are going to earn to do code
 and learn the secrets of python
 thats it

In [16]:
print(1,2,3,4,5,2.5,6.3, sep='/')

1/2/3/4/5/2.5/6.3

In [18]:
print(1,2,3,4,5,2.5,6.3, sep='游때') #for emoji press window button + .

1游때2游때3游때4游때5游때2.5游때6.3

In [20]:
print('this is python data science' , end=' ')
print('we are going to earn to do code')
print('and learn the secrets of python')
print('thats it')

this is python data science we are going to earn to do code
and learn the secrets of python
thats it

In [23]:
age=18
name='bob'
color2='voilet'
is_sleeping =False

In [24]:
name='nobita'

In [25]:
color2 = 12

*datatype  can be changed by changing the value of a variable*

In [1]:
x=1
y=3579
z=-9857412

In [2]:
y=1.0

In [3]:
z=-35.59

In [ ]:
z=87.7e100

In [4]:
x=41

In [16]:
color2='Red'
is_sleeping=False
age =54

#del is a keyword to delete variable from memeory... we can delete multiple variable together

In [17]:
del age,color2

In [12]:
name ="bruce wayne 01"
color = 'yellow'
Institute = 'digipodium'

In [15]:
is_coding = True #always write true and false with capital T & F as they r keywords
is_fun= True
are_u_bored =False

In [19]:
x=None # x variable with nothing none with always begin with caps N

- *lists are mutable 
they are represented using []*

In [21]:
#list... 
a = [5,10,15,20,25,30,35,40]
vals = [1,2.2 ,'python']
colors = ['red','green',"yelow"]

- *tuples are immutable... used internally by python ....represented by ()*

In [22]:
a = (5,10,15,20,25,30,35,40)
vals = (1,2.2 ,'python')
colors = ('red','green',"yelow")

- *sets are not ordered...have unique values..represented by {}......we can perform operations like union, intersect *

In [23]:
a = {5,10,15,20,25,30,35,40}
vals = {1,2.2 ,'python'}
colors = {'red','green',"yelow"}

- *dictionary - ordered collection of key-value pairs(key:value)*

In [25]:
car_info = {"brand": "ford",
"model":"Mustang",
"year": "1964"}

## input in python

In [27]:
name = input("what is your name?")
city = input("in which city do you reside in?")
print("so according to you")
print('your are', name)
print('and you live in',city)

so according to you
your are shayesta
and you live in lucknow

## Operators

In [8]:
# ARITHMETIC OPERATORS
a=10
b=3
print(a+b) #add
print(a-b)#sub
print(a/b)#float div
print(a*b)#mul

13
7
3.3333333333333335
30

In [9]:
print(a//b) #int div

3

In [15]:
print(23%5) #remainder
print(23//5)#quotient
print(a**b)

3
4
1000

In [14]:
2**5 #power or exponential

32

In [32]:
# assignment operator
a=10
b=5
c=3

#alternate way to assign a value to a variable
x, y, z= 10, 20, 30

In [33]:
a+=2 #update a with a+2
b-=4
c*=3
x/=5
a**=2
x//=1

In [38]:
#comparison operators
print(a==b)
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)
print(a!=b)

False
True
False
False
True
True

In [44]:
#logical operators(and,or,not)
print(a>b and a>5)
print(a<b and a>5)
print(a>b or a>5)
print(a<b or a>5)
print(a<b or a<5)
print(not a<b)
print(not a >b)
print(not a and not b and not c)

True
False
True
True
False
True
False
False

In [46]:
# memership operators(in)

colors =['red','blue','green','yellow','orange']
print ('red' in colors)
print ('Red' in colors)
print ('RED' in colors)
print ('blue' in colors)
print ('yellow' in colors)
print('purple'in colors)

True
False
False
True
True
False

In [47]:
msg = "Its the journey that matters"
print('journey'in msg)
print('destination' in msg)

True
False

- *is operator checks whether two objects belong to same memory location or not*

QUESTIONS:
- wap to calculate the area of a circle
- wap to calculate the area of a rectangle
- wap to calculate the area of a triangle
- wap to calculate the hypotenus using perpendicular and base
- wap to calculate the factorial of 5

In [58]:
#area of circle
r=2
print(3.14*r*r, 'for a circle with radius',r)

12.56 for a circle with radius 2

In [54]:
#area of rectangle
l, b =10, 5
print(l*b)

50

In [62]:
r=float(input("enter the radius of the circle:")) #EXPLICIT CONVERSION OF R TO FLOAT
area=3.14*r**2
print(area,'for a circle with radius',r)

452.16 for a circle with radius 12.0

In [55]:
#area of triangle
base=10
h=3
print(0.5*base*h)

15.0

In [67]:
#hypotenus using perpendicular and base
p=float(input('enter perpendicular'))
b=float(input('enter base'))
h=math.hypot(p,b) #for list of math functions press ctrl+space after typing math.
print('hypotenuse is', h)

hypotenuse is 5.385164807134505

In [68]:
#factorial of 5
num = int(input('enter a number'))
fact = math.factorial(num)
print('Factorial is ',fact)

Factorial is  3628800

In [63]:
import math

In [64]:
math.pi

3.141592653589793

In [69]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [77]:
#compound interest
princi=float(input("enter principal"))
rate=float(input("enter rate of interest"))
time=float(input("enter time"))
ci = princi*(math.pow((1+(rate/100)),time))
print('compound interest is',ci)
print('amount is',ci+princi)

compound interest is 2315.2500000000005
amount is 4315.25