In [15]:
a=(1,2,3,4)
print(a)
print(type(a))

(1, 2, 3, 4)
<class 'tuple'>

In [4]:
b=1,3,5,7
print(b)
print(type(b))  #tuple is used by python internally bcozpython finds it convinient

(1, 3, 5, 7)
<class 'tuple'>

In [5]:
for  val in a:
    print (val)

1
2
3
4

In [19]:
#slicing in python
print(a[0:3])

(1, 2, 3)

In [12]:
print((1,2,3)+(4,5,6))

(1, 2, 3, 4, 5, 6)

In [14]:
print(("REPEAT",)*3)

('REPEAT', 'REPEAT', 'REPEAT')

tuple has only two function :
  - count    
  - index

In [21]:
my_tuple=('a','p','p','l','e',)
print(my_tuple.count('p'))
print(my_tuple.index('l'))

2
3

In [25]:
al=list(a) #convert tuple to list(tuple are interconvertible)
print(al)
print(a)

[1, 2, 3, 4]
(1, 2, 3, 4)

In [26]:
val=[2,3,12,312,31,31,32,123]
print(val)
valt=tuple(val)
print(valt)

[2, 3, 12, 312, 31, 31, 32, 123]
(2, 3, 12, 312, 31, 31, 32, 123)

## Sets
- unordered
- every value inside a set is duplicate(by default python removes duplicate value())
- represented  by {}
- set is immutable but some changes can be performed - discard,remove,update,clear,

In [28]:
my_set={1,2,3}
print(my_set)

{1, 2, 3}

In [32]:
my_set={1,2,3,2}
print(my_set) #removes duplicate elements by default

{1, 2, 3}

In [34]:
my_set=set([1,2,3,2]) #convert list into set
print(my_set)

{1, 2, 3}

*set cannot have mutable items*
my_set={1,2,[3,4]}

In [36]:
a=set()
print(type(a))

<class 'set'>

In [52]:
my_set ={1,3}
print(my_set)

my_set.add(2)
print(my_set)

my_set.update([2,3,4]) # to update the set 
print(my_set)

my_set.update([4,5],{1,6,8}) #removes duplicate elements and by default sorts
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

In [53]:
#discard and remove function to delete element - discard shpuld be given more usage priority it shows no error
my_set.discard(4) #discard an element
print(my_set)

my_set.remove(6) # remove an element
print(my_set)

my_set.pop() #pops a random item 
print(my_set)

my_set.clear() #clears set
print(my_set)

{1, 2, 3, 5, 6, 8}
{1, 2, 3, 5, 8}
{2, 3, 5, 8}
set()

- for performing unionoperation on sets- A|B or A.union(B)
- intersection - A&B or A.intersection(B)
- difference - A-B or A.difference(B)
- for symmetric differnce -A^B or A.symmetric_difference(B)

In [55]:
A={1,2,3,4,5,6}
B={4,5,6,7,8}
print(A|B)  #union of sets
print(A.union(B))
print(B.union(A))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [57]:
print(A&B) #intersection function
A.intersection(B)

{4, 5, 6}

{4, 5, 6}

In [58]:
print(A-B)
print(B-A)
A.difference(B)

{1, 2, 3}
{8, 7}

{1, 2, 3}

In [60]:
print(A^B)
print(A.symmetric_difference(B)) #non common values from both sets

{1, 2, 3, 7, 8}
{1, 2, 3, 7, 8}

In [70]:
x={'fan','ac','juicer','tv','refrigerator','flashlight'}
y={'led','tubelight','bulb','lamp','flashlight','refrigerator'}
print('union:',x|y)
print('intersection:',x&y)
print('difference b/w x n y:',x-y)
print('difference b/w y n x:',y-x)
print('symmertric difference:',x^y)
print('symmertric difference:',x.symmetric_difference(y))

union: {'refrigerator', 'tv', 'led', 'lamp', 'juicer', 'flashlight', 'fan', 'tubelight', 'bulb', 'ac'}
intersection: {'refrigerator', 'flashlight'}
difference b/w x n y: {'fan', 'juicer', 'tv', 'ac'}
difference b/w y n x: {'lamp', 'tubelight', 'bulb', 'led'}
symmertric difference: {'tv', 'led', 'lamp', 'fan', 'bulb', 'ac', 'juicer', 'tubelight'}
symmertric difference: {'tv', 'led', 'lamp', 'fan', 'bulb', 'ac', 'juicer', 'tubelight'}

In [87]:
s1={1,2,3,4,5,6,7,8,9,10}

In [88]:
print(s1)
s1=list(s1) #set to list
print(s1)
st=tuple(s1) #set to tuple
print(st)
a=set([1,2,3,3,3,1,1]) #list to set
print(a)
b=set((2,1,2,2,3,4,4,5)) #tuple to set
print(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
{1, 2, 3}
{1, 2, 3, 4, 5}

## *Dictionary* 
- key : value
- for removing- pop() and popitem() is used
 3 [*popitem() removews the last element in the dictionary*]

In [79]:
my_dict={'name':'Jack','age':26}
print(my_dict['name']) #dictionary agr net se  aa rhi h to [] use krte h

Jack

In [80]:

print(my_dict.get('age')) #khud create kiya h to ()

26

In [81]:
my_dict['age']=27
print(my_dict)
my_dict['address']='Downtown'
print(my_dict)

{'name': 'Jack', 'age': 27}
{'name': 'Jack', 'age': 27, 'address': 'Downtown'}

In [82]:
#for removing- pop() and popitem()
squares={1:1,2:4,3:9,4:16,5:25}
print(squares.pop(4))
print(squares.popitem())

16
(5, 25)

In [96]:
report={
    'student 1':{
        'name':'John',
        'marks':{
            'math':80,
            'science':90,
             'history':70,
             'english':60,
             'evs':90
        }
    },
    'student 2':{
            'name':'Mary',
            'marks':{
                'math':70,
                'science':80,
                'history':60,
                'english':50,
                'evs':80

            }
        }
        
    }

In [97]:
print(report['student 1'])

{'name': 'John', 'marks': {'math': 80, 'science': 90, 'history': 70, 'english': 60, 'evs': 90}}

In [100]:
print(report['student 1']['name'])
print(report['student 1']['marks'])
print(report['student 1']['marks']['history'])

John
{'math': 80, 'science': 90, 'history': 70, 'english': 60, 'evs': 90}
70

In [98]:
#loop for dictionary 
for i in report:
    print(i)

student 1
student 2

In [101]:
for k,v in report.items():
    print(k,v)

student 1 {'name': 'John', 'marks': {'math': 80, 'science': 90, 'history': 70, 'english': 60, 'evs': 90}}
student 2 {'name': 'Mary', 'marks': {'math': 70, 'science': 80, 'history': 60, 'english': 50, 'evs': 80}}

In [106]:
for k,v in report.items():
    print('students:',k)
    if isinstance(v,dict): #isinstance  function here checks whether the object is dictionary or not
        for k1,v1 in v.items():
         if isinstance(v1,dict):
            for sub,marks in v1.items():
                print(sub,marks)
         else :
            print(v1)
    else:
        print(v)

students: student 1
John
math 80
science 90
history 70
english 60
evs 90
students: student 2
Mary
math 70
science 80
history 60
english 50
evs 80